*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #3E3E3E;
}


h1{
    font-size: 25px; 
    font-family: "DM Serif Text", serif;
    font-weight: bold;
    color: #3E3E3E;
}

.bg-gr{
    background-color: #5DB38F;
}

.bg-greyy{
    background-color: #F5F5F5;
}

.bg-gr1{
    background-color: #D9D9D9;
}

.bg-blc{
    background-color: #171717;
}

.bg-calm{
    background-color: #67C69E;
}

.pop{
    font-family: "Poppins", sans-serif;
}

.dm{
    font-family: "DM Serif Text", serif;
}